<div class="sidebar">
  <div class="site-width">
    <!-- START: Menu-->
    <ul id="side-menu" class="sidebar-menu">
      <li class="dropdown">
        <a href="#"><i class="icon-home mr-1"></i>Bảng điều khiển</a>
        <ul>
          <li>
            <a href="/admin/home"><i class="icon-home"></i>Trang chủ</a>
          </li>
          <li>
            <a href="/admin/dashboard-alert"><i class="icon-bell"></i>Thông báo</a>
          </li>
          <li>
            <a href="/admin/dashboard-message"
              ><i class="icon-speech"></i>Tin nhắn</a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#"><i class="icon-layers mr-1"></i>Quản trị</a>
        <ul>
          <li>
            <a href="/admin/mgmt-env-data"
              ><i class="icon-globe-alt"></i>Dữ liệu môi trường</a
            >
          </li>
          <li>
            <a href="/admin/mgmt-users"><i class="icon-people"></i>Thành viên</a>
          </li>
          <li>
            <a href="/admin/mgmt-posts"><i class="icon-pencil"></i>Bài viết</a>
          </li>
          <li>
            <a href="/admin/mgmt-files"
              ><i class="icon-folder-alt"></i>Tệp tin</a
            >
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#"><i class="icon-settings mr-1"></i>Cấu hình</a>
        <ul>
          <li>
            <a href="/admin/config-profile"
              ><i class="icon-user"></i>Tài khoản</a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#"><i class="icon-support mr-1"></i>Hỗ trợ</a>
        <ul>
          <li>
            <a href="https://it.humg.edu.vn/"
              ><i class="icon-paper-plane"></i>Liên hệ</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- END: Menu-->
    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
      <% for(let i=0; i < locals.directories.length; i++) { %>
        <li class="breadcrumb-item"><a href="<%= locals.directories[i].link %>"><%= locals.directories[i].tag %></a></li>
      <% } %>
    </ol>
  </div>
</div>
