.body-sidebar-wrapper {
  border-right: 1px solid #c3bebe;
  height: 100%;
  box-sizing: border-box;
}

.sidebar-logo {
  padding: 0.3vw;
  text-align: center;
  a {
    font-size: 2rem;
    display: block;
    color: #1565c0;
  }
  border-bottom: 1px solid #ddd;
  &:hover {
    a {
      color: #1565c0;
    }
  }
}
h2.cus button.accordion-button.collapsed{
  background-color: rgb(238, 233, 233);
}
.accordion-item-toggle-body1{
  margin-bottom: -10%;
}
.sidebar-menu-items .accordion-item-toggle .accordion-item-toggle-body select.form-select{
  border: 1px solid rgb(219, 214, 214);
}
.sidebar-menu-items {
  box-sizing: border-box;
  .menu-items-header {
    padding: 0.8rem;
    color: rgba(51, 51, 51, 0.5) !important;
    font-size: 0.9rem;
  }
  .accordion-item-toggle {
    border-right: none;
    .accordion-button {
      border-right: none !important;
      &:hover {
        background: #f5f5f5;
      }
      color: rgba(51, 51, 51, 0.85) !important;
      font-weight: 500 !important;
      font-size: 0.9rem;
      border-radius: 0 !important;
      &:focus {
        border: none !important;
        background: #f5f5f5 !important;
        box-shadow: none;
      }
    }
    .accordion-button::after {
      display: none;
    }

    p {
      font-size: 0.9rem;
      font-weight: 400;
    }

    .accordion-item-toggle-body {
      select {
        font-size: 0.9rem;
        font-weight: 400;
        color: #333333;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.5);
        outline: 0px;
      }
      option {
        color: #333333;
      }
    }
  }
}

@media (max-width: 800px) {
  .sidebar-logo {
    a {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .sidebar-logo {
    a {
      font-size: 1rem;
    }
  }
}
