  .legend {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  }
  .legend table {
    height: 20px;
    font-size: inherit;
  }
