.map-container {
  height: 100vh;
  width: 100%;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 16% 84%;
  height: 94%;
}

.map-editer {
  max-width: 50%;
}

@media (max-width: 1000px) {
  .body-wrapper {
      grid-template-columns: 20% 80%;
  }
}

@media (max-width: 850px) {
  .body-wrapper {
    display: block;
      .body-sidebar-wrapper{
        display: none;
      }
      .body-content-wrapper{
        height: 100%;
        width: 100%;
      }
  }
}