<div class="col-12 mt-3">
    <div class="card">
        <div class="card-header  justify-content-between align-items-center">
            <h4 class="card-title">Basic Scenario</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="jsGrid"></div>
            </div>
        </div>
    </div>

</div>
<div class="col-12 mt-3">
    <div class="card">
        <div class="card-header  justify-content-between align-items-center">
            <h4 class="card-title">Sorting Scenario</h4>
        </div>
        <div class="card-body">

            <div class="sort-panel">
                <div class="form-group row">
                    <label for="sortingField" class="col-sm-1 col-form-label">Sorting:</label>
                    <div class="col-sm-2 d-flex">
                        <select id="sortingField" class="form-control">
                            <option>Name</option>
                            <option>Age</option>
                            <option>Address</option>
                            <option>Country</option>
                            <option>Married</option>
                        </select>
                        <button type="button" class="btn btn-primary ml-2" id="sort">Sort</button>
                    </div>

                </div>

            </div>
            <div id="jsGridSorting"></div>

        </div>
    </div>

</div>
<div class="col-12 mt-3">
    <div class="card">
        <div class="card-header  justify-content-between align-items-center">
            <h4 class="card-title">Loading Data by Page Scenario</h4>
        </div>
        <div class="card-body">

            <div class="pager-panel">
                <div class="form-group row">
                    <label for="pager" class="col-sm-1 col-form-label">Sorting :</label>
                    <div class="col-sm-2">
                        <select id="pager" class="form-control">
                            <option>Name</option>
                            <option selected>Age</option>
                            <option>Address</option>
                        </select>
                    </div>

                </div>

            </div>
            <div id="jsGridSortpage"></div>

        </div>
    </div>

</div>